
body {
    background-color: #0f0f0f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00ffcc;
    text-align: center;
    padding-top: 10vh;
}

.icono {
    width: 100px;
    margin-bottom: 20px;
}

.interfaz {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 20px;
    display: inline-block;
    border: 2px solid #00ffcc;
}
